.toggle:has(input:checked) {
	.eyeOn {
		opacity: 0;
	}
	.eyeOff {
		opacity: 1;
	}
}

.eyeOff {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
	transition: opacity 0.3s ease;
}

.eyeOn {
	opacity: 1;
	transition: opacity 0.3s ease;
}
